<div class="page-container">
    <!-- <form class="example-form">
        <input #locname type="search" class="mat-elevation-z2" (keyup.enter)="selectLocation(locname.value)" placeholder="Search" aria-label="Number" [formControl]="searchControl" [matAutocomplete]="auto">
        <div class="spacer"></div>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='selectLocation($event.option.value)'>
            <mat-option *ngFor="let loc of filteredResults | async " [value]="loc.name">
                {{loc.name}}
            </mat-option>
        </mat-autocomplete>
    </form> -->
    <app-selector></app-selector>
</div>