<mat-nav-list>
  <mat-list-item>
    <button class="menu-item" mat-flat-button>
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>
  </mat-list-item>

  <mat-list-item>
      <button class="menu-item" mat-flat-button>
        <mat-icon>work</mat-icon>
        Trip
      </button>
    </mat-list-item>

    <mat-list-item>
      <button class="menu-item" mat-flat-button>
        <mat-icon>settings_application</mat-icon>
        Settings
      </button>
    </mat-list-item>
</mat-nav-list>

